<div class="menu-header">
  <div class="menu-left"><a href="./bulk.html?test=in">bulk</a></div>
  <div class="menu-center"><a href="./live.html">live</a></div>
  <div class="menu-right"><a href="./history.html">history</a></div>
</div>