<div class="menu-header">
  <div class="menu-left"><a href="./index.html?test=in">in</a> <a href="./index.html?test=out">out</a></div>
  <div class="menu-center">youth</div>
  <div class="menu-right"><a href="./live.html">live</a></div>
</div>

<style>
  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    width: 100%;
    box-sizing: border-box;
  }

  .menu-header a {
    color: white;
    text-decoration: underline;
  }

  .menu-left,
  .menu-center,
  .menu-right {
    flex: 1;
    padding: 0px 20px;
  }

  .menu-left {
    text-align: left;
  }

  .menu-center {
    text-align: center;
    text-decoration: none;
  }

  .menu-right {
    text-align: right;
  }

  @media (max-width: 600px) {
    .menu-header {
      flex-direction: column;
      text-align: center;
    }

    .menu-left,
    .menu-center,
    .menu-right {
      text-align: center;
      padding: 5px 0;
    }
  }
</style>