<div class="menu-header">
  <div class="menu-left"><a href="./index.html?test=in">in</a>/<a href="./index.html?test=out">out</a></div>
  <div class="menu-center"></div>
  <div class="menu-right"><a href="./live.html">live</a></div>
</div>