<div class="menu-header">
  <div class="menu-left">DEMO</div>
  <div class="menu-cell"><a href="./bulk.html?test=in">B-in</a>/<a href="./bulk.html?test=out">B-out</a></div>
  <div class="menu-cell"><a href="./live.html">live</a></div>
  <div class="menu-cell"><a href="./history.html">hist</a></div>
  <div class="menu-cell"><a href="./about.html">about</a></div>
</div>