<div class="menu-header">
  <div class="menu-left">DEMO</div>
  <div class="menu-cell"><a href="./bulk.html?test=in">S-in</a>/<a href="./bulk.html?test=out">S-out</a></div>
  <div class="menu-cell"><a href="./live.html">live</a></div>
  <div class="menu-cell"><a href="./history.html">history</a></div>
  <div class="menu-cell"><a href="./about.html">about</a></div>
</div>