<div class="menu-header">
  <div class="menu-left">DEMO</div>
  <div class="menu-cell"><a href="./index.html?test=in">in</a>/<a href="./index.html?test=out">out</a></div>
  <div class="menu-cell"><a href="./about.html">about</a></div>
</div>