<div class="menu-header" role="navigation" aria-label="Site menu">
  <div class="menu-left"><a href="./info.html">AM</a></div>
  <div class="menu-cell"><a href="./index.html">sign</a></div>
  <div class="menu-cell"><a href="./live.html">live</a></div>
  <div class="menu-cell"><a href="./history.html">history</a></div>
</div>
