<div class="menu-header" role="navigation" aria-label="Site menu">
  <div class="menu-left"><a href="./info.html">DEMO-A</a></div>
  <div class="menu-cell"><a href="./index.html?test=in">S-in</a>/<a href="./index.html?test=out">S-out</a></div>
  <div class="menu-cell"><a href="./live.html">live</a></div>
  <div class="menu-cell"><a href="./history.html">history</a></div>
</div>
