<div class="menu-header" role="navigation" aria-label="Site menu">
  <div class="menu-left">AM</div>
  <div class="menu-cell"><a href="./bulk.html">sign</a></div>
  <div class="menu-cell"><a href="./live.html?source=leader">live</a></div>
  <div class="menu-cell"><a href="./history.html?source=leader">history</a></div>
  <div class="menu-cell"><a href="./about.html?source=leader">about</a></div>
</div>
