<div class="menu-header" role="navigation" aria-label="Site menu">
  <div class="menu-left">YOUTH</div>
  <div class="menu-cell"><a href="./index.html">sign</a></div>
  <div class="menu-cell"><a href="./live.html?source=user">live</a></div>
  <div class="menu-cell"><a href="./history.html?source=user">history</a></div>
  <div class="menu-cell"><a href="./about.html?source=user">about</a></div>
</div>
