<div class="menu-header">
  <div class="menu-left">YOUTH</div>
  <div class="menu-left"><a href="./bulk.html">bulk</a></div>
  <div class="menu-cell"><a href="./live.html">live</a></div>
  <div class="menu-cell"><a href="./history.html">hist</a></div>
  <div class="menu-cell"><a href="./about.html">about</a></div>
</div>